/*--Global Styles--*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #2b5876, #4e4376);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*-- App Container--*/

.app {
  width: 100%;
  max-width: 420px;
}

.header {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 15px;
  opacity: 0.9;
}

/*--Search Bar--*/

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 12px;
  font-size: 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  backdrop-filter: blur(12px);
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search button {
  padding: 12px 14px;
  border: none;
  border-radius: 12px;
  background: #00c6ff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.search button:hover {
  background: #009cd4;
}

/*--Weather Card--*/

.card {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(16px);
  color: white;
}

.hidden {
  display: none;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-info h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.desc {
  font-size: 14px;
  opacity: 0.8;
}

.temp-info {
  text-align: center;
}

.icon {
  width: 80px;
  height: 80px;
}

.temp {
  font-size: 28px;
  margin-top: 5px;
  font-weight: 700;
}

/*--Bottom Details--*/

.card-bottom {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.meta {
  font-size: 14px;
  opacity: 0.9;
}

/*--Message--*/

.message {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-weight: 600;
  height: 20px;
}
